name: Deployment Pipeline
on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed
    branches:
      - dev
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Deploy on server
        run: |
          sshpass -p '${{ secrets.PASSWORD }}' ssh -o StrictHostKeyChecking=no ${{ secrets.USERNAME }}@${{ secrets.HOST }} '
            # 1. Go to the app directory
            cd /home/open-school-portal/fe-staging/open-school-portal-FE
            
            # 2. Extract the correct artifact file
            tar -xzf /tmp/open-school-portal-fe-artifact.tar.gz

            cp .next/standalone/server.js .
            
            # 3. Remove the artifact file
            rm -f /tmp/open-school-portal-fe-artifact.tar.gz
        
            
            # 4. Restart PM2 process using ecosystem config
            pm2 restart fe-staging --update-env || PORT=3002 pm2 start server.js --name fe-staging --update-env
          '